asgiref
autopep8
boto3
botocore
builder-tool
certifi
chardet
click
colorama
dj-database-url=
Django
django-forms-bootstrap
django-storages
docutils
gunicorn
html5lib
idna
jmespath
olefile
Pillow
pycodestyle
pycurl
python-dateutil
pytz
PyYAML
requests
six
sqlparse
stringcase
stripe
toml
urllib3
webencodings